<div class="container">
    <div class="main-screen">
        <div class="header p-2 row">
            <div class="col-md-9 title"> NETFLIX </div>
            <div class="col-md-3 choices">
                <select class="lang-select p-1" tabindex="0" placeholder="Select Language">
                    <option selected value="english">English</option>
                    <option value="hindi">Hindi</option>
                </select>
                <button class="btn btn-danger ml-3" role="button" tabindex="0" aria-label="signIn">Sign In</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Unlimited movies, TV shows and more.</h5>
                <h6 class="card-subtitle mb-2">Watch anywhere. Cancel anytime.</h6>
                <p class="card-text">Ready to watch? Enter your email to create or restart your membership.</p>
            </div>
        </div>
    </div>
    <div class="scroll-screens">

    </div>
</div>