/* You can add global styles to this file, and also import other style files */

select {
    background: transparent;
    color: white;
}

.card {
    text-align: center;
    background: transparent;
    color: white;
}

.card-title {
    font-size: 40px;
}

.card-subtitle {
    font-size: 30px;
}

.card-text {
    font-size: 20px;
}